.bubble {
  position: absolute;
  width: 150px;
  height: 150px;
  border-radius: 50% 50% 50% 5%;
  box-shadow: 0 0 10px white;
  transform: translateY(0);
  /* Start from the bottom */
  animation-name: getUp;
  /* Change animation name */
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes getUp {
  0% {
    transform: translateY(0);
    /* Start from the bottom */
  }

  100% {
    transform: translateY(-1400%);
    /* End at the top */
  }
}


.chatMessagesContainer {
  overflow: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #3490dc transparent; /* Blue thumb with transparent track */
  border-radius: 10px; /* Rounded corners */
  margin-right: 20px;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  background-size: auto 100%;
  width: 100%;
  transition: box-shadow 0.3s; /* Add a transition for smooth effect */
}

/* Scrollbar thumb style */
.chatMessagesContainer::-webkit-scrollbar-thumb {
  background: #3490dc; /* Blue thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

/* Scrollbar track style */
.chatMessagesContainer::-webkit-scrollbar-track {
  background: #cce0eb; /* Lighter blue track */
}

/* Width of the scrollbar thumb */
.chatMessagesContainer::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
}

/* Space between child elements */
.chatMessagesContainer > * {
  margin-bottom: 1rem; /* Adjust as needed */
}

/* Set the maximum height */
.chatMessagesContainer {
  max-height: 70vh; /* Adjust as needed */
}

.rouletteChatMessagesContainer {
  overflow: auto;
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: #3490dc transparent; /* Blue thumb with transparent track */
  border-radius: 10px; /* Rounded corners */
  margin-right: 20px;
  padding: 0;
  position: relative;
  overflow-x: hidden;
  background-size: auto 100%;
  width: 100%;
  transition: box-shadow 0.3s; /* Add a transition for smooth effect */
}

/* Scrollbar thumb style */
.rouletteChatMessagesContainer::-webkit-scrollbar-thumb {
  background: #3490dc; /* Blue thumb */
  border-radius: 4px; /* Rounded corners for the thumb */
}

/* Scrollbar track style */
.rouletteChatMessagesContainer::-webkit-scrollbar-track {
  background: #cce0eb; /* Lighter blue track */
}

/* Width of the scrollbar thumb */
.rouletteChatMessagesContainer::-webkit-scrollbar {
  width: 12px; /* Adjust the width as needed */
}

/* Space between child elements */
.rouletteChatMessagesContainer > * {
  margin-bottom: 1rem; /* Adjust as needed */
}

/* Set the maximum height */
.rouletteChatMessagesContainer {
  max-height: 62vh; /* Adjust as needed */
}

/* Set the minimum height */
.rouletteChatMessagesContainer {

}



.userContent {
  background-color: white;
  width: 60%;
  margin: 20px auto;
  /* Center horizontally and add top margin */
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.navbar {
    display: flex;
    align-items: center;
    width: 100%;
    height: 100px;
    box-shadow: 3px 3px 6px rgb(44, 44, 44);
    z-index: 10;
    color: white;
    background-color: #f1f5f9;
    position: relative;
}

.menuIcon {
  display: none;
}

.navbar_title {
  margin-right: auto;
  font-size: 150%;
  padding-left: 20px;
  color: #012A4A;
}

.navElements {
  vertical-align: middle;
  color: #012A4A;
}

.navElements ul {
  gap: 10px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
}

.navElements ul a {
  font-size: 16px;
  font-weight: 400;
  color: #2f234f;
  text-decoration: none;
}

.navElements ul .active {
  color: #574c4c;
  font-weight: 500;
  position: relative;
  background-color: #89C2D9;
  white-space: nowrap;
  border-radius: 5px;
}

.navElements ul .active::after {
  content: "";
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 2px;
}

.navbar_item {
  width: 100%;
  padding: 16px 16px;
  cursor: pointer;
  vertical-align: middle;
  color: #012A4A;
  transition: background-color 0.5s ease;
}

.navbar_item:hover {
  background-color: #89C2D9;
  white-space: nowrap;
  border-radius: 5px;
  border-color: black;
  color: #012A4A;
  opacity: 1;
}

.navElements.inactive {
  background-color: #f1f5f9;
}

.chatBox{
  width: 100%;
  padding-left: 0.75rem;
  padding-right: 1rem;
  color: #000;
}
.chatBox:disabled{
  background-color: white;
}

.rouletteGlassPanel {
  background: rgba(255, 255, 255, 0.3);
  /* Set the background to a semi-transparent white */
  height: auto;
  pointer-events: none;
  min-height: 68vh;
  /* Add some border radius for the glass effect */
  padding: 10px;
  margin-bottom: 0px;
  /* Adjust padding as needed */
  backdrop-filter: blur(10px);
  z-index: -1;
  /* Apply a backdrop filter to simulate glass blur */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /* Add a slight shadow for depth */
}

.glassPanel {
  background: rgba(255, 255, 255, 0.3);
  /* Set the background to a semi-transparent white */
  height: auto;
  pointer-events: none;
  min-height: 72vh;
  /* Add some border radius for the glass effect */
  padding: 10px;
  margin-bottom: 0px;
  /* Adjust padding as needed */
  backdrop-filter: blur(10px);
  z-index: -1;
  /* Apply a backdrop filter to simulate glass blur */
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  /* Add a slight shadow for depth */
}

.rouletteMainContainer {
  min-width: 100vw;
  /* Equivalent to min-w-screen */
  z-index: 10;
  margin-top: 26px;
  /* Equivalent to mt-6 */
  background: linear-gradient(to bottom, #2C7DA0, transparent);
  color: white;
  max-height: 70vh;
}


.fadeIn {
  opacity: 1;
  transition: opacity 1s ease-in-out;
}

.fadeOut {
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

@media (max-width: 790px) {
  .buttonWrapper {
    display: none;
  }

  .menuIcon {
    display: block;
    cursor: pointer;
  }

  .navElements {
    padding: 0 !important;
    position: absolute;
    right: 0;
    top: 60px;
    background-color: #f1f5f9;
    width: 100%;
    height: 0;
    transition: all 0.3s ease-in;
    overflow: hidden;
    margin-top: 10px;
    z-index: -10;
    border-radius: 0 0 0 0;
  }
  
  .navElements.active {
    border-radius: 0 0 25px 25px;
    z-index: 10;
    height: 370px;
  }

  .navElements.biggerActive {
    border-radius: 0 0 25px 25px;
    height: 460px;
  }

  .navElements ul {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-color: #f1f5f9;
  }

  .navElements ul li {
    margin-right: unset;
    margin-top: 22px;
    width: 90%;
    background-color: #89C2D9;
    white-space: nowrap;
    border: 1px solid #012A4A;
    color: black;
    border-radius: 5px;
    border-color: black;
  }

  .navElements ul li p {
    color: black;
  }

  .addUserPaper {
    width: 330px;
    height: 400px;
  }
}

@media only screen and (max-width: 600px) {
  /* Your styles for small screens go here */
  .gif{
    width: 300px;
  }
  .profile{
    margin-top: 0 !important;
    height: 500px !important;
  }
  .avatar{
    width: 100px !important;
    height: 100px !important;
  }
  .nextUserButton{
    width: 80px !important;
  }
  .nextUserText{
    font-size: 13px !important;
    margin-left: 9px !important;
  }

}

@media only screen and (max-Height: 500px) {
  /* Your styles for medium screens go here */
  .chatMessagesContainer {
    max-height: 40vh !important;
    }
  .rouletteChatMessagesContainer {
    max-height: 33vh !important;
  }
  .rouletteGlassPanel {
    /* Set the background to a semi-transparent white */
    min-height: 31vh !important;
  }
  .glassPanel {
    /* Set the background to a semi-transparent white */
    min-height: 38vh !important;
  }
}
@media only screen and (max-Height: 601px) {
  /* Your styles for medium screens go here */
  .chatMessagesContainer {
    max-height: 55vh !important;
    }
  .rouletteChatMessagesContainer {
    max-height: 53vh !important;
  }
  .rouletteGlassPanel {
    /* Set the background to a semi-transparent white */
    min-height: 50vh !important;
  }
  .glassPanel {
    /* Set the background to a semi-transparent white */
    min-height: 54vh !important;
  }
  .gif {
    width: 300px;
  }
}

@media only screen and (max-Height: 700px) and (min-Height: 602px) {
  /* Your styles for medium screens go here */
  .chatMessagesContainer {
    max-height: 65vh !important;
    }
    
  .rouletteChatMessagesContainer {
    max-height: 58vh !important;
  }
  .rouletteGlassPanel {
    /* Set the background to a semi-transparent white */
    min-height: 57vh !important;
  }
  .glassPanel {
    /* Set the background to a semi-transparent white */
    min-height: 64vh !important;
  }
  .gif {
    width: 200px;
  }
}

@media only screen and (min-Height: 800px) {
  /* Your styles for medium screens go here */
  .chatMessagesContainer {
    max-height: 65vh !important;
    }
    
  .rouletteChatMessagesContainer {
    max-height: 63vh !important;
  }

.rouletteGlassPanel {
  /* Set the background to a semi-transparent white */
  min-height: 60vh !important;
}
.glassPanel {
  /* Set the background to a semi-transparent white */
  min-height: 64vh !important;
}

}

@media only screen and (min-Height: 800px)  {
  /* Your styles for medium screens go here */
.chatMessagesContainer {
    max-height: 75vh !important;
  }
  .rouletteChatMessagesContainer {
    max-height: 68vh !important;
  }

.rouletteGlassPanel {
  /* Set the background to a semi-transparent white */
  min-height: 65vh !important;
}
.glassPanel {
  /* Set the background to a semi-transparent white */
  min-height: 74vh !important;
}
}

@media only screen and (min-Height: 1025px) {
  /* Your styles for large screens go here */
  .chatMessagesContainer {
      max-height: 83vh !important;
    }
  .rouletteChatMessagesContainer {
    max-height: 76vh !important;
  }

.rouletteGlassPanel {
  /* Set the background to a semi-transparent white */
  min-height: 74vh !important;
}
.glassPanel {
  /* Set the background to a semi-transparent white */
  min-height: 82vh !important;
}
}
